

.hours {
    font-size: .8em;
    color: #999;
}

header > nav ul{
	background-color:#3f2f2f;
	text-align: center;
	background: black;
	border-bottom:5px solid red;
	box-shadow: 3px 0px 5px grey;
	margin-top: 20px;
	padding: 0;
}

header > nav ul li>a{
	text-decoration: none;
	font-size: 16pt;
	margin:auto;

}

header > nav ul li {
	display: inline-block;
	margin-left: 10px;
	padding: 10px;
	color:white;
	font-family: sans-serif;
}

header > nav ul li:hover{
	background: red;
	font-weight: bold;
}

h1{
	font-family: serif;
	color:black;
	text-align: center;
	font-size: 50px;
	font-style: italic;

}.simple_form{
    text-align: left;
    margin: 100px 100px;
}
